#!/usr/bin/env bash

set -e
set -x

TEMPEST_VERSION={{ refstack_tempest_version }}
INSTALL_LOG={{ refstack_workdir }}/refstack-install-$(date +%Y-%m-%d-%H-%M).log

GUIDELINE=${1:-{{ refstack_guideline }}}
TARGET=${2:-{{ refstack_target }}}

# NOTE: create RGW user accounts
# for username in refstack-0 refstack-1 refstack-2 refstack-3 refstack-4; do
#     openstack --os-cloud $username container list 2>&1 | tee -a $INSTALL_LOG
# done

# NOTE: enable quota management on RGW user accounts
# for username in $(radosgw-admin user list | grep \\$ | awk -F\" '{ print $2 }'); do
#     radosgw-admin quota enable --uid "$username" --quota-scope=user 2>&1 | tee -a $INSTALL_LOG
# done

if [[ ! -e {{ refstack_workdir }}/client ]]; then
    git clone https://opendev.org/osf/refstack-client.git {{ refstack_workdir }}/client 2>&1 | tee -a $INSTALL_LOG
fi

if [[ ! -e {{ refstack_workdir }}/client/.venv ]]; then
    pushd {{ refstack_workdir }}/client 2>&1 | tee -a $INSTALL_LOG
    ./setup_env -t $TEMPEST_VERSION 2>&1 | tee -a $INSTALL_LOG
    popd 2>&1 | tee -a $INSTALL_LOG

    source /opt/refstack/client/.venv/bin/activate
    pip3 install designate-tempest-plugin==0.16.0  2>&1 | tee -a $INSTALL_LOG
    pip3 install heat-tempest-plugin==1.7.0 2>&1 | tee -a $INSTALL_LOG
    pip3 install octavia-tempest-plugin==2.2.0 2>&1 | tee -a $INSTALL_LOG
fi

# platform or compute

curl -s "https://refstack.openstack.org/api/v1/guidelines/$GUIDELINE/tests?target=$TARGET&type=required,advisory&alias=true&flag=true" \
    > {{ refstack_workdir }}/test-list.txt

# dns

curl -s "https://refstack.openstack.org/v1/guidelines/dns.${GUIDELINE}.json/tests?target=dns&type=required&alias=true&flag=false" \
    >> {{ refstack_workdir }}/test-list.txt

# orchestration

curl -s "https://refstack.openstack.org/v1/guidelines/orchestration.${GUIDELINE}.json/tests?target=orchestration&type=required&alias=true&flag=false" \
    >> {{ refstack_workdir }}/test-list.txt

# shared file system
# NOTE: Manila currently not functional, therefore not activated
# curl -s "https://refstack.openstack.org/v1/guidelines/shared_file_system.${GUIDELINE}.json/tests?target=shared_file_system&type=required&alias=true&flag=false" \
#    >> {{ refstack_workdir }}/test-list.txt

# NOTE: inject testbed CA into the virtual python environments
for fp in $(find {{ refstack_workdir }}/client -name cacert.pem); do
    cat /opt/configuration/environments/kolla/certificates/ca/testbed.crt >> $fp
done
