#!/usr/bin/env bash

# https://opendev.org/openinfra/refstack/src/branch/master/doc/source/uploading_private_results.rst

source {{ refstack_workdir }}/client/.venv/bin/activate
refstack-client sign ~/.ssh/id_rsa.refstack
