[auth]
test_accounts_file = {{ refstack_workdir }}/accounts.yaml
use_dynamic_credentials = false

[oslo_concurrency]
lock_path = /tmp/tempest

[service_available]
cinder = {{ refstack_enable_cinder }}
glance = {{ refstack_enable_glance }}
heat = {{ refstack_enable_heat }}
neutron = {{ refstack_enable_neutron }}
nova = {{ refstack_enable_nova }}
swift = {{ refstack_enable_swift }}

[identity]
auth_version = v3
region = {{ refstack_region }}
uri_v3 = {{ refstack_keystone_endpoint }}
v3_endpoint_type = public

[compute-feature-enabled]
resize = true

[validation]
run_validation = true
image_ssh_user = {{ refstack_image_ssh_user }}

[compute]
image_ref = XXX
image_ref_alt = XXX

flavor_ref = XXX
flavor_ref_alt = XXX

fixed_network_name = {{ refstack_network_name }}

min_microversion = "2.2"
max_microversion = "latest"

volume_device_name = {{ refstack_volume_device_name }}

[network]
public_network_id = XXX

[object-storage]
operator_role = admin
reseller_admin_role = admin

[heat_plugin]
auth_version = v3
auth_url = {{ refstack_keystone_endpoint }}
endpoint_type = public
region = {{ refstack_region }}

user_domain_id = {{ refstack_domain_id }}
user_domain_name = {{ refstack_domain }}
project_domain_id = {{ refstack_domain_id }}
project_domain_name = {{ refstack_domain }}

project_name = refstack-0
username = refstack-0
password = {{ refstack_user_password }}

admin_project_name = refstack-4
admin_username = refstack-4
admin_password = {{ refstack_admin_password }}

instance_type = refstack-0
minimal_instance_type = refstack-1
image_ref = XXX
minimal_image_ref = XXX
# keypair_name = refstack

network_for_ssh = {{ refstack_public_network }}
fixed_network_name = {{ refstack_network_name }}
floating_network_name = {{ refstack_public_network }}
fixed_subnet_name = subnet-{{ refstack_network_name }}
volume_size = 1
