---
namespace: osism
name: validations
version: {{ tag | regex_replace('^v', '') }}
readme: README.md
authors:
  - OSISM community <info@osism.de>
description: OSISM validation roles
license_file: LICENSE
tags:
  - osism
  - system
dependencies: {}
repository: https://github.com/osism/ansible-collection-validations.git
documentation: https://docs.osism.tech
homepage: https://osism.tech
issues: https://github.com/osism/ansible-collection-validations/issues
